

/* ------------ Base Styles ------------ */


html {
  font-size: 62.5%;
}

body {
  color: #FFF;
  background-color: #ffe556;
  font-size: 1.5em;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}


/* ------------ Typography ------------ */


h1, h2, h3, p {
  font-weight: 400;
  line-height: 1.2;
  margin: 1.5rem auto 1.5rem auto;
}

h1 {
  font-size: 3.0rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.8rem;
}


/* ------------ Links ------------ */


a {
  color: #FFF;
}

a:hover {
  color: #e6e6e6;
}


/* ------------ Buttons ------------ */


.button {
  background-color: #027694;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  height: 38px;
  line-height: 38px;
  letter-spacing: .1rem;
  margin-bottom: 1rem;
  padding: 0 15px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}

.button:hover, .button:focus {
  background-color: #098FB2;
}

.facebook { 
  background-color: #3b5998;
}

.facebook:hover, .facebook:focus {
  background-color: #4b6db5;
}


/* ------------ Lists ------------ */


ul {
  font-size: 90%;
  margin-top: 0;
  margin: 1.5rem 0 1.5rem 3rem;
  padding-left: 0;  
}


/* ------------ Utilities ------------ */


.u-w100 {
  width: 100%;
}

.u-pt15 {
  padding-top: 15px;
}

.u-pb15 {
  padding-bottom: 15px;
}

.u-pl15 {
  padding-left: 15px;
}

.u-p415 {
  padding-right: 15px;
}

.u-pb30 {
  padding-bottom: 30px;
}

.u-mb30 {
  margin-bottom: 30px;
}

.bg-black {
  background-color: #000000;
}


/* ------------ Navigation ------------ */


#logo {
  left: 2%;
  position: fixed;
  top: 22px;
  width: 220px;
  z-index: 20;
}

nav {
  background-color: #FFF;
  display: block;
  height: 60px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

nav ul {
  margin: 0;
  text-align: right;
}

nav li {
  display: inline-block;
  list-style-type: none;
  padding-right: 3%;
  padding-top: 21px;
}

nav a {
  color: #565656;
  text-decoration: none;
}

nav a:hover {
  color:#000;
}

nav a:visited {
  color:#565656;
}

.active a:link, .active a:visited {
  color: #000;
  font-weight: 700;
}

#nav-btn{
  display: none;
  z-index: 20;
}

#mobile-nav{
  display: none;
  z-index: 10;
}

@media (max-width:768px) {
  #logo {
    left: 5%;
    position: fixed;
    width: 200px;
  }
  nav {
    display: none;
    height: 100%;
    padding-top: 50px;
  }
  nav li {
    display: block;
    padding-top: 20px;
    padding-left: 5%;
    text-align: left;
    width: 100%;
  }
  #nav-btn {
    color: #000;
    display: block;
    font-size: 1.5em;
    position: fixed;
    right: 5%;
    top: 18px;
  }
  #mobile-nav {
    background-color: #FFF;
    display: block;
    height: 60px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
} 