.google-maps {
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 65%; // This is the aspect ratio
  z-index: 0;
}
.google-maps iframe {
  height: 100% !important;
  left: 0;
  position: absolute;
  top: 0;
  width: 100% !important;
  }
