


		.btn {
  			-webkit-border-radius: 3;
  			-moz-border-radius: 3;
 			border-radius: 3px;
  			letter-spacing:2px;
  			color: #FFFFFF;
  			background: #027694;
  			padding: 22px 25px 19px 25px;
  			text-decoration: none;
  			line-height: 70px;
			}
		.btn:hover {
			background: #098FB2;
			color: #FFFFFF;
			text-decoration: none;
			}

