#logo, .donate-meter{
	background: #262a2d;
	background: rgba(38, 42, 45, 0.9);
} 
#header-right, #sidebar {
	background: #37393b;
	background: rgba(55, 57, 59, 0.9);
}
#slides.slides .slide-content {
	background:#2d3439;
	background: rgba(45, 52, 57, 0.3);
}
#slide-navigator {
	background: #262a2d;
	background: rgba(38, 42, 45, 0.6);
}
#main {
	background: #262a2d;
}