/* Background */

body {
    background: url("light/bg-back.jpg") no-repeat center top #dcdcdc;
    color: #807c79;
}
#wrapper {
	background: none;
}

/* Header */

#header {
    border-bottom: 1px solid #dadcdd;
}
#logo, #header-right {
	background: #fff;
	background: rgba(255,255,255,0.9);
}
#logo .site-title a {
	color: #555;
}

#search-top .arrow {
    background: url("light/ico-search-top-arrow.png");
}

/* Navigation */

#navigation-top {
	background: #f1f1f1;
}

#navigation-top .nav li.current_page_item a:hover, #navigation-top .nav li.current-cat a:hover, #navigation-top .nav li.current-menu-item a:hover { 
	background: #e6e6e6; 
}
#navigation-top .nav li a {
    border-left: 1px solid #bababa;
    color: #747474;
    text-shadow: none;
}
#navigation-top .nav li a:hover {
	color:#555;
	text-shadow: #ccc 0px 0px 14px;
}

.nav a { 
	color: #7a7875;
}
.nav a:hover, 
.nav li.current_page_item a, 
.nav li.current_page_parent a, 
.nav li.current-menu-ancestor a, 
.nav li.current-cat a, 
.nav li.current-menu-item a {
	background: #d9d9d9;
}
#navigation .nav li a {
    border-left: 1px solid #bababa;
}


.footer-menu .nav li a {
    border-left: 1px solid #B3B3B3;
    color: #474747;
	text-shadow:none;
	font-weight:700;
}

.footer-menu .nav li a:hover {
	color: #666;
	text-shadow: #999 0px 0px 5px;	
}


/* Slider */

#slides.slides .slide-content {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
}
#slides.slides .slide-content .slide-title {
    color: #474747;
    text-shadow: 0 1px 0 #fff;
}
#slide-navigator {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
}
#slide-navigator a.pager {
	margin-top:3px; 
}
.donate-meter { 
	background-color: rgba(255, 255, 255, 0.6);
}
.donate-meter > span { 
	background: #555;
}

/* Content */

#content {
    border-bottom: 3px solid #fff;
}
.home #content {
    border-top: 3px solid #fff;
}
#sidebar, .page-template-template-donate-php #intro {
	background: #eee;
}
#main { 
	background: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color: #999;
}

#intro { color: #807C79; }

.post,
.widget,
#blog-title, #respond, #comments {
    border-color: #cbcbcb;
}
#blog-title h3 {
    background: url("light/ico-section.png") no-repeat right center;
}

.widget h3 {
	color: #4b4b4b;
	text-shadow: none;
}
.post .title a:link, .post .title a:visited, .post-meta a:link, .post-meta a:visited {
    color: #474747;
}

.post .title a:hover {
	text-shadow: #ccc 0px 0px 10px;
}

.entry img, img.thumbnail, #comments .avatar img {
    box-shadow: 2px 1px 6px #ccc;
}

.post-meta a:hover { text-shadow: 0 0 5px #ccc; }

#post-author, #connect { 
	background: #f1f1f1; 
	border-color: #e6e6e6;
}

#footer { 
	border-color: #ccc; 
}

/* COMMENTS */

#comments .avatar img {
    box-shadow: 2px 1px 6px #ccc; 
}

#comments .avatar .name {
    color: #77726F;
}

#respond input#author { background: #f0f0f0 url(../images/ico-user.png) no-repeat 12px 9px; }
#respond input#email { background: #f0f0f0 url(../images/ico-mail.png) no-repeat 12px 11px; }
#respond input#url { background: #f0f0f0 url(../images/ico-link.png) no-repeat 12px 11px; }
#respond textarea { background: #f0f0f0 url(../images/ico-comment.png) no-repeat 12px 13px; }

#commentform input.txt, #commentform textarea { box-shadow: 1px 1px 0 #ccc; }

#footer-top .social-icons li a {color: #77726F;}
#footer-top .social-icons li a:hover {text-shadow: 0 0 5px #ccc;}

/* Widgets */

.widget_woo_flickr a img, .widget_woo_blogauthorinfo .avatar {
    box-shadow: 2px 1px 6px #ccc;
}
.searchform {
    background: #FFF;
    border-color: #9C9C9C;
    box-shadow:0 0 0; -webkit-box-shadow: 0 0 0; -moz-box-shadow: 0 0 0
}
.widget_woo_blogroll li a {
    background: #949493;
}
.widget_woo_blogroll li a:hover {
	background: #C4C2C2;
	text-shadow: #ccc 0px 0px 6px;
}

#search-top {
    border-color: #F1F1F1;
}

#search-top .search_main {
    background: #FFF;
}

#search-top .searchform { border-color: #ccc; box-shadow:0 0 0; -webkit-box-shadow: 0 0 0; -moz-box-shadow: 0 0 0; border-width: 0;}

#tabs { background: #e6e6e6; }

#tabs ul.wooTabs li a { background: #f1f1f1; border-color:#dbdbdb; }
#tabs ul.wooTabs li a.selected, #tabs ul.wooTabs li a:hover, #tabs .inside, #tabs .inside li { background: #fafafa; border-color:#dbdbdb; }

.page-template-template-donate-php #intro .meter,
.page-template-template-donate-php .donate-button-wrap { 
	background: #aaa; 
}

.post .title, .page .title {
    color: #474747;
}