#logo, .donate-meter{
	background: #2d2626;
	background: rgba(45, 38, 38, 0.9);
} 
#header-right, #sidebar {
	background: #3b3737;
	background: rgba(59, 55, 55, 0.9);
}
#slides.slides .slide-content {
	background:#392d2d;
	background: rgba(57, 45, 45, 0.3);
}
#slide-navigator {
	background: #2d2626;
	background: rgba(45, 38, 38, 0.6);
}
#main {
	background: #2d2626;
}